<div class="bs-welcome">

			<div class=" clearfix col-lg-12">
	<h2>{$item1_icon}{$item1_title}</h2>
		{BEGIN item1_comments}
		<div class="bs-welcome-group-comments">
			{$item1_comments_text}
		</div>
		{END item1_comments}
	
	</div>
	
	
		<div class="clearfix">
	</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item2_menulink_style}> 
				<a {$item2_menulink_attrs}>{$item2_icon}{$item2_title}</a>
			</div>
			{BEGIN item2_comments}
			<div class="bs-welcome-content">
				{$item2_comments_text}
			</div>
			{END item2_comments}
		</div>
	</div>
	
	
</div>


