/* details preview */

.rnr-bs-dpreviewrow.rnr-bs-dpreviewrow .dpinline, .bs-details-opened.bs-details-opened {
	background: gray;
}


.dpinline.dpinline.dpinline > div {
    background: #333;
    border-color: #111;
}

.bs-proceed-icon.bs-proceed-icon {
	color: white;
}


/* icon underlines */
.glyphicon.glyphicon:not(:hover) {
	text-decoration: none;
}

/* popups */

.modal-content.ui-resizable {
	border: 2px solid #666;
}

.modal-footer.modal-footer {
	border-color: #666;
}

.modal-header.modal-header {
	border-color: #666;
}


/* welcome */

.bs-welcome-item.bs-welcome-item {
    border-color: #aaa;
    background: #666;
    color: white;
}


/* flexible grid */
@media (max-width: 767px) {

		.bs-flexgrid.bs-flexgrid  > * > .bs-gridrow.bs-gridrow {
		border: none;
		border-radius: 4px;
	}
	
		.bs-flexgrid.bs-flexgrid   .bs-gridrow:not(.rnr-hiddenelem) {
		background-image: linear-gradient( to bottom, #3c3c3c 42px , transparent 43px );	
	}


	
.bs-flexgrid.bs-flexgrid.bs-flexgrid.bs-flexgrid > * > * > .bs-gridicons a, 
.bs-flexgrid.bs-flexgrid.bs-flexgrid.bs-flexgrid > * > * > .bs-griddetails a {
		color: #0ce3ac;
}
		
}
